.game {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 72px;
  color: #776e65;
  font-weight: bold;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  padding-top: 20px;
}

.container {
  background-color: #bbada0;
  width: 464px;
  height: 476px;
  border-radius: 10px;
  padding: 8px;
}

.text {
  line-height: 1.45;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: #776e65;
  margin-top: -60px;
  margin-bottom: 60px;
}

.window {
  position: fixed;
  padding-bottom: 300px;
  width: 100%;
  height: 100%;
  background: #faf8ef;
  margin-top: -50px;
}