.newGame {
  position: absolute;
  margin-left: 348px;
  margin-top: -50px;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  border: 0;
  color: #f9f6f2;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  outline: none;
}